#contact{
    background-color: #E2E2E2;
  }  
  
  #contact h1{
    margin-top: 28px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #0A0460;
    margin-bottom: 50px;
  }
  .error-text {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  
  .form-container{
    max-width: 1000px;
    margin: 0 auto;
    /* background-color: red; */
  }

  .form-container form{
    width: 100%;
  }
  .form-container input, select, textarea{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    outline: none;
  }
  select {
    padding-right: 20px; /* Adjust as needed */
    appearance: none; /* Removes default styling */
    background-image: url('/icons/arrowdown.svg'); /* Custom arrow if needed */
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }

  .form-container input, select{
    height: 54px;
    border-radius: 8px;
  }

  .form-container form .col{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width: 892px) {
  .form-container form .col{
    flex-direction: column;
  }
}
  